*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.progress-container{
    width: 100%;
    height: 10px;
    background-color: #aaa;
    position: fixed;
    top: 0;
}
.progress{
    height: 100%;
    background-color: red;
    position: absolute;
}